.valid-glow {
  filter: drop-shadow(0 0 0.75rem green);
}

.invalid-glow {
  filter: drop-shadow(0 0 0.75rem crimson);
}

/* SHAKE ANIMATION */
@-webkit-keyframes shake {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  25% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  50% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  75% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  25% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  50% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  75% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.shake {
  display: inline-block;
  -webkit-animation: shake 0.5s;
  animation: shake 0.5s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/* FLASH ANIMATION */
@-webkit-keyframes flash {
  0% {
    opacity: 0;
    -webkit-transform: scale(0) rotate(0deg);
    transform: scale(0) rotate(0deg);
  }
  50% {
    opacity: 0.5;
    -webkit-transform: scale(3) rotate(180deg);
    transform: scale(3) rotate(180deg);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(6) rotate(360deg);
    transform: scale(6) rotate(360deg);
  }
}

@keyframes flash {
  0% {
    opacity: 0;
    -webkit-transform: scale(0) rotate(0deg);
    transform: scale(0) rotate(0deg);
  }
  50% {
    opacity: 0.5;
    -webkit-transform: scale(3) rotate(180deg);
    transform: scale(3) rotate(180deg);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(6) rotate(360deg);
    transform: scale(6) rotate(360deg);
  }
}

.flash {
  -webkit-animation: flash 1s linear;
  animation: flash 1s linear;
  opacity: 0;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/* FADE IN ANIMATION */
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: fadeIn 0.5s forwards;
  animation: fadeIn 0.5s forwards;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/* Fade Out Animation */
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fade-out {
  -webkit-animation: fadeIn 0.5s forwards reverse;
  animation: fadeIn 0.5s forwards reverse;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

@-webkit-keyframes dmgFade {
  0% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(30px, -150px);
    transform: translateY(30px, -150px);
  }
}

@keyframes dmgFade {
  0% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(30px, -150px);
    transform: translateY(30px, -150px);
  }
}

.dmg-fade {
  -webkit-animation: dmgFade 0.75s forwards;
  animation: dmgFade 0.75s forwards;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  opacity: 1;
}

/* SPELL ANIMATION */
@-webkit-keyframes sequenceIn {
  0% {
    opacity: 0;
    /* -webkit-transform: translate(-50%, -50%) scaleX(0) scaleY(10);
    transform: translate(-50%, -50%) scaleX(0) scaleY(10); */
    -webkit-transform: scaleX(0) scaleY(10);
    transform: scaleX(0) scaleY(10);
  }
  100% {
    opacity: 1;
    /* -webkit-transform: translate(-50%, -50%) scaleX(1) scaleY(1); */
    /* transform: translate(-50%, -50%) scaleX(1) scaleY(1); */
    -webkit-transform: scaleX(1) scaleY(1);
    transform: scaleX(1) scaleY(1);
  }
}

@keyframes sequenceIn {
  0% {
    opacity: 0;
    -webkit-transform: scaleX(0) scaleY(10);
    transform: scaleX(0) scaleY(10);
  }
  100% {
    opacity: 1;
    -webkit-transform: scaleX(1) scaleY(1);
    transform: scaleX(1) scaleY(1);
  }
}

.sequence-in {
  -webkit-animation: sequenceIn 0.5s forwards;
  animation: sequenceIn 0.5s forwards;
}

@-webkit-keyframes sequenceOut {
  0% {
    opacity: 1;
    -webkit-transform: scaleX(1) scaleY(1);
    transform: scaleX(1) scaleY(1);
  }
  50% {
    opacity: 1;
    -webkit-transform: scaleX(1) scaleY(1);
    transform: scaleX(1) scaleY(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scaleX(0) scaleY(0);
    transform: scaleX(0) scaleY(0);
  }
}

@keyframes sequenceOut {
  0% {
    opacity: 1;
    -webkit-transform: scaleX(1) scaleY(1);
    transform: scaleX(1) scaleY(1);
  }
  50% {
    opacity: 1;
    -webkit-transform: scaleX(1) scaleY(1);
    transform: scaleX(1) scaleY(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scaleX(0) scaleY(0);
    transform: scaleX(0) scaleY(0);
  }
}

.sequence-out > img {
  -webkit-animation: sequenceOut 1s forwards;
  animation: sequenceOut 1s forwards;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/* FLASH IN OUT ANIMATION */
@-webkit-keyframes flashInOut {
  0% {
    opacity: 0;
    -webkit-animation: translate(-50%, -50%) scale(2.5, 2.5);
    transform: translate(-50%, -50%) scale(2.5, 2.5);
  }
  50% {
    opacity: 0.5;
    -webkit-animation: translate(-50%, -50%) scale(3, 3);
    transform: translate(-50%, -50%) scale(3, 3);
  }
  100% {
    opacity: 0;
    -webkit-animation: translate(-50%, -50%) scale(3.5, 3.5);
    transform: translate(-50%, -50%) scale(3.5, 3.5);
  }
}

@keyframes flashInOut {
  0% {
    opacity: 0;
    -webkit-animation: translate(-50%, -50%) scale(2.5, 2.5);
    transform: translate(-50%, -50%) scale(2.5, 2.5);
  }
  50% {
    opacity: 0.5;
    -webkit-animation: translate(-50%, -50%) scale(3, 3);
    transform: translate(-50%, -50%) scale(3, 3);
  }
  100% {
    opacity: 0;
    -webkit-animation: translate(-50%, -50%) scale(3.5, 3.5);
    transform: translate(-50%, -50%) scale(3.5, 3.5);
  }
}

.flash-in-out {
  opacity: 0;
  -webkit-animation: flashInOut 0.75s ease-in-out;
  animation: flashInOut 0.75s ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/* BUMP ANIMATION */
@-webkit-keyframes bumpdown {
  50% {
    -webkit-animation: translateY(10px);
    transform: translateY(10px);
  }
  100% {
    -webkit-animation: translateY(0px);
    transform: translateY(0px);
  }
}
@keyframes bumpdown {
  50% {
    -webkit-animation: translateY(10px);
    transform: translateY(10px);
  }
  100% {
    -webkit-animation: translateY(0px);
    transform: translateY(0px);
  }
}

.bump {
  -webkit-animation: bumpdown 0.25s forwards;
  animation: bumpdown 0.25s forwards;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/* SPELLCAST ANIMATION */
@-webkit-keyframes spellcast {
  0% {
    -webkit-animation: translate(-50%, -50%) scale(2, 2);
    transform: translate(-50%, -50%) scale(2, 2);
    opacity: 0;
  }
  30% {
    -webkit-animation: translate(-50%, -50%) scale(2, 2);
    transform: translate(-50%, -50%) scale(2, 2);
    opacity: 0;
  }
  50% {
    -webkit-animation: translate(-50%, -50%) scale(1, 1);
    transform: translate(-50%, -50%) scale(1, 1);
    opacity: 1;
  }
  80% {
    -webkit-animation: translate(-50%, -50%) scale(1, 1);
    transform: translate(-50%, -50%) scale(1, 1);
    opacity: 1;
  }
  100% {
    -webkit-animation: translate(-50%, -50%) scale(1, 1);
    transform: translate(-50%, -50%) scale(1, 1);
    opacity: 0;
  }
}

@keyframes spellcast {
  0% {
    -webkit-animation: translate(-50%, -50%) scale(2, 2);
    transform: translate(-50%, -50%) scale(2, 2);
    opacity: 0;
  }
  30% {
    -webkit-animation: translate(-50%, -50%) scale(2, 2);
    transform: translate(-50%, -50%) scale(2, 2);
    opacity: 0;
  }
  50% {
    -webkit-animation: translate(-50%, -50%) scale(1, 1);
    transform: translate(-50%, -50%) scale(1, 1);
    opacity: 1;
  }
  80% {
    -webkit-animation: translate(-50%, -50%) scale(1, 1);
    transform: translate(-50%, -50%) scale(1, 1);
    opacity: 1;
  }
  100% {
    -webkit-animation: translate(-50%, -50%) scale(1, 1);
    transform: translate(-50%, -50%) scale(1, 1);
    opacity: 0;
  }
}

.spellcast {
  -webkit-animation: spellcast 2s forwards;
  animation: spellcast 2s forwards;
}

/* RUNES ANIMATION */
@-webkit-keyframes runes4cast1 {
  50% {
    -webkit-animation: translate(-50px, 0);
    transform: translate(-50px, 0);
    opacity: 1;
  }
  100% {
    -webkit-animation: translate(-50px, 0);
    transform: translate(-50px, 0);
    opacity: 0;
  }
}

@keyframes runes4cast1 {
  50% {
    -webkit-animation: translate(-50px, 0);
    transform: translate(-50px, 0);
    opacity: 1;
  }
  100% {
    -webkit-animation: translate(-50px, 0);
    transform: translate(-50px, 0);
    opacity: 0;
  }
}

@-webkit-keyframes runes4cast2 {
  50% {
    -webkit-animation: translate(50px, -125px);
    transform: translate(50px, -125px);
    opacity: 1;
  }
  100% {
    -webkit-animation: translate(50px, -125px);
    transform: translate(50px, -125px);
    opacity: 0;
  }
}

@keyframes runes4cast2 {
  50% {
    -webkit-animation: translate(50px, -125px);
    transform: translate(50px, -125px);
    opacity: 1;
  }
  100% {
    -webkit-animation: translate(50px, -125px);
    transform: translate(50px, -125px);
    opacity: 0;
  }
}

@-webkit-keyframes runes4cast3 {
  50% {
    -webkit-animation: translate(-50px, 125px);
    transform: translate(-50px, 125px);
    opacity: 1;
  }
  100% {
    -webkit-animation: translate(-50px, 125px);
    transform: translate(-50px, 125px);
    opacity: 0;
  }
}

@keyframes runes4cast3 {
  50% {
    -webkit-animation: translate(-50px, 125px);
    transform: translate(-50px, 125px);
    opacity: 1;
  }
  100% {
    -webkit-animation: translate(-50px, 125px);
    transform: translate(-50px, 125px);
    opacity: 0;
  }
}

@-webkit-keyframes runes4cast4 {
  50% {
    -webkit-animation: translate(50px, 0);
    transform: translate(50px, 0);
    opacity: 1;
  }
  100% {
    -webkit-animation: translate(50px, 0);
    transform: translate(50px, 0);
    opacity: 0;
  }
}

@keyframes runes4cast4 {
  50% {
    -webkit-animation: translate(50px, 0);
    transform: translate(50px, 0);
    opacity: 1;
  }
  100% {
    -webkit-animation: translate(50px, 0);
    transform: translate(50px, 0);
    opacity: 0;
  }
}

.runecast-4 img:nth-child(1) {
  -webkit-animation: runes4cast1 2s forwards;
  animation: runes4cast1 2s forwards;
}

.runecast-4 img:nth-child(2) {
  -webkit-animation: runes4cast2 2s forwards;
  animation: runes4cast2 2s forwards;
}

.runecast-4 img:nth-child(3) {
  -webkit-animation: runes4cast3 2s forwards;
  animation: runes4cast3 2s forwards;
}

.runecast-4 img:nth-child(4) {
  -webkit-animation: runes4cast4 2s forwards;
  animation: runes4cast4 2s forwards;
}
