/* #game_cv {
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    justify-content: center; 
    align-items: center;
    border: thick double red;
}

#background_cv {
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    justify-content: center; 
    align-items: center;
    background-color: aqua;
    border: thick double green;
} */

/* #game {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: thick double purple;
} */

.t {
  background-color: rgba(147, 206, 99, 0.226);
}

body {
  background-color: slategrey;
}

.screen {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1280px;
  height: 720px;
  transform: translate(-50%, -50%);
  display: none;
  background-color: white;
}

/* GAME */

#screen_game {
}

#game_status {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  transition: opacity 0.3s ease;
}

/* UNIVERSAL OR LEVEL SCREEN BUTTONS */

#game_screen_btns {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0;
  left: 0;
}

.level-btns {
  display: inline-block;
  margin: 5px;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #7997b8;
  color: white;
  border: none;
  cursor: pointer;
}

/* SKILLS */

@keyframes flash {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

#cast_effects {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border: thick double red;
}

.cast-effect {
  width: 100px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.cast-effect.flash {
  animation: flash 1s ease-in-out;
  opacity: 1;
}

#game_status {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.game-status {
  position: absolute;
  display: none;
}

.game-status.paused {
  color: yellow;
}

.game-status.victory {
  color: green;
}

.game-status.defeat {
  color: red;
}

.game-canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.health {
  background-color: red;
}

.mana {
  background-color: blue;
}

.cooldown {
  background-color: rgb(175, 177, 99);
}

/* PLAYER */

#p_ui {
  width: 100%;
  height: 8vw;
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: center;
}

.p-fill-con {
  width: 6vw;
  height: 6vw;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  position: absolute;
  bottom: 1vw;
  overflow: hidden;
  border: 5px solid transparent;
}

.p-fill {
  width: 100%;
  position: absolute;
  bottom: 0;
  transition: height 0.3s ease;
  overflow: hidden;
}

#p_health_container {
  left: 1vw;
}

#p_mana_container {
  right: 1vw;
}

#p_skill_container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  position: absolute;
  bottom: 0;
}

.skill {
  width: 6vw;
  height: 6vw;
  border: none;
  background-color: transparent;
  bottom: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill-img {
  width: 4vw;
  height: 4vw;
  display: block;
}

/* OPPONENT */

#o_ui {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  top: 0;
  width: 100%;
  padding-top: 10px;
}

#o_name {
  font-size: 24px;
  text-align: center;
}

#o_health_container {
  width: 40%;
  height: 20%;
  background-color: rgba(196, 129, 129, 0.5);
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 4.5vw;
}

#o_cooldown_container {
  width: 20%;
  height: 40%;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 6vw;
}

.o-fill-con {
  border-radius: 25px;
  position: absolute;
  transition: width 0.3s ease;
  overflow: hidden;
  text-align: center;
}

.o-fill {
  height: 100%;
  position: absolute;
  top: 0;
  transition: width ease;
  overflow: hidden;
}

/* MAIN */

#btn_map {
  display: block;
  margin: 0 auto;
}

/* MAIN */

#screen_main {
}

#main_menu_bottom {
  width: 100%;
  height: 20%;
  position: absolute;
  bottom: 0;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.3);
}

/* MAP */

#screen_map {
  text-align: center;
}

#level_select_btns {
  position: absolute;
  text-align: center;
  transform: translate(50%, 50%);
  background-color: rgba(255, 255, 255, 0.3);
}

#map_screen_btns {
  width: 100%;
  height: 20%;
  position: absolute;
  bottom: 0;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.3);
}

.btn-level {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
